body, html {
  height: 100%;
  Background-color: rgba(238, 233, 218, 0.26);
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("Images/mainimage.jpg");

  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: None;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #333;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 1.55vw;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #333;
  color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #333;
  color: whitesmoke;
}

.title {
  background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through */
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: left;
  font-size: 1vw;
}

/* Position text in the middle of the page/image */
.Information {
  background-color: rgba(255,255,255 1.0)
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-color: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 55px;
  height: 80%;
  width: 80%;
  text-align: left;
  font-size: 120%;
}

/* Container for the questions */
.question-container {
  display: flex;
  justify-content: space-between; /* Distribute child elements with equal space between them */
  align-items: center; 
  position: absolute;
  top: calc(50% + 20px); /* Adjust the value to create space below the centered div */
  left: 20%;
  right: 20%;
  text-align: left; /* Center-align the questions */
}
.question-container > div {
  width: 30%; /* Adjust this value to create space between the questions */
}

/* CSS for individual question elements */
.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    background: none;
}

